<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="User" value="Release" />
    <add key="ErrorTypes" value="base,home,outsource" />
    <add key="ErrorTypesSeparateByRoutes" value="base,outsource" />
    <add key="Priority" value="Normal,Low,High" />
	<add key="Status" value="NotFixed,Fixed"/>
    <add key="TrainerPath" value="F:/Trainer3DMoscow" />
    <add key="SceneGeneratorPath" value="D:/Temp" />
    <add key="FileNamePos" value="vehiclePosLog" />
    <add key="VisualRect" value="0,0,200,200" />
    <add key="MapRect" value="200,0,200,200" />
    <add key="WorkingType" value="Local" />
    <add key="RemoteUrl" value="http://localhost:7000" />
    <add key="OriginX" value="4099679.55027024" />
    <add key="OriginY" value="7398511.24695296" />
    <add key="ScaleX" value="0.55815874592893" />
    <add key="ScaleY" value="0.570004300941543" />
    <add key="PatternErrors" value="Столб на дороге(base),Пустой столб(home),Дерево на дороге(outsource),Нет дома(outsource),Затор машинок(outsource),Трава на дороге(outsource),Сломанный коллайд(outsource),Невозможно проехать(outsource),Не переключается светофор(outsource),Машины едут только на стрелку(home)"/>
  </appSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>